body {
  margin: 0px;
  background-color: black;
}

.hide {
  visibility: hidden;
}

.game_img {
  width: 1000px;
  height: 600px;
  background: url(img/background.png);
  background-size: cover;
  margin: 100px auto;
  border-radius: 30px;
}

.game_status {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.play_btn {
  border: 5px solid black;
  outline: none;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  margin-top: 20px;
  border-radius: 15px;
  background-color: wheat;
}

.play_btn:hover {
  transform: scale(0.95);
}

.fas {
  font-size: 30px;
  padding: 15px;
}

.play_time {
  border: 5px solid black;
  width: 150px;
  margin-top: 5px;
  font-size: 30px;
  border-radius: 15px;
  background-color: white;
  font-weight: 700;
  user-select: none;
}

.play_catching {
  border-radius: 50%;
  border: 3px solid black;
  width: 55px;
  height: 50px;
  margin: 10px auto;
  font-size: 35px;
  font-weight: 700;
  background-color: coral;
  user-select: none;
  color: white;
}

.game_frame {
  position: relative;
  width: 1000px;
  height: 300px;
  transform: translateY(-182px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.replay_container {
  position: relative;
  margin: 70px auto;
  width: 400px;
  height: 120px;
  background-color: #00000070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
}

.replay_btn {
  border: 3px solid black;
  cursor: pointer;
  border-radius: 10px;
  background-color: wheat;
  outline: none;
  transition: transform 200ms ease-in-out;
}

.replay_btn:hover {
  transform: scale(0.95);
}

.user_text {
  font-size: 30px;
  font-weight: 700;
  color: white;
  user-select: none;
}

.carrot,
.bug {
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in-out;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
